.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 10rem;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  touch-action: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.slider-root {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 200px;
  flex-grow: 1;
  cursor: grab;
  touch-action: none;
  user-select: none;
  align-items: center;
  padding: 0.75rem 0;
}

.slider-root:active {
  cursor: grabbing;
}

.slider-track-wrapper {
  display: flex;
  flex-grow: 1;
}

.slider-track {
  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.2);
}

.slider-range {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
}

.value-indicator {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: translateY(-0.75rem);
  font-size: 0.65rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.elastic-slider-icon {
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.7);
}
