.faulty-terminal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.faulty-terminal-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
